HOST=0.0.0.0
PORT=8000
CORS_ALLOWED_ORIGIN=*
CAMERA_SOURCE=0
CAMERA_WIDTH=1920
CAMERA_HEIGHT=1080
CAMERA_FPS=15
CAMERA_OPEN_TIMEOUT_SECONDS=5
CAMERA_READ_TIMEOUT_SECONDS=5
STREAM_WIDTH=1280
STREAM_JPEG_QUALITY=80
CAPTURE_JPEG_QUALITY=95
CAMERA_RETRY_SECONDS=2
FRAME_STALE_SECONDS=3
INITIAL_FRAME_WAIT_SECONDS=2
CAPTURE_WAIT_SECONDS=2
LOG_LEVEL=INFO
